* {
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background: wheat;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	width: 100vw;
}

button {
	background: firebrick;
	border: 5px outset seashell;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 1px 1px 3px #555;
	color: seashell;
	font-size: 16px;
	font-weight: 700;
	height: 40px;
	margin: 10px;
	transition-duration: 0.15s;
	width: 100px;
}

button:active {
	box-shadow: none;
	font-size: 14px;
	font-weight: 900;
}

button:hover {
	background: #0060df;
	cursor: pointer;
}

h1 {
	color: firebrick;
	font-size: min(7.5vw, 7.5vh, 64px);
	text-shadow: -1px -1px seashell, 1px 1px silver, 1px 1px 3px #555;
}

label {
	color: firebrick;
	font-size: 16px;
	font-weight: 900;
	text-shadow: -1px -1px seashell, 1px 1px silver, 1px 1px 3px #555;
}

.knob {
	background: seashell;
	border: 2px dashed silver;
	border-radius: 100px;
	box-shadow: inset 0 0 0 2px silver, 3px 3px 5px #555;
	height: 50px;
	margin: 20px 10px 0;
	width: 50px;
}

.slider-container {
	display: flex;
	flex-direction: column;
	margin: 10px;
	text-align: center;
	width: 150px;
}

#banner {
	margin: 25px 0;
	max-width: 750px;
	text-align: center;
	width: 65vw;
}

#base {
	background: firebrick;
	border: solid firebrick;
	border-radius: 0 0 25px 25px;
	border-width: 0 50px 50px;
	box-shadow: 3px 7px 5px #555;
	display: flex;
	height: 50px;
	justify-content: space-between;
	margin: 0 10px 10px;
	max-width: 750px;
	min-width: 250px;
	width: 65vw;
}

#canvas {
	align-items: center;
	background: silver;
	border: solid firebrick;
	border-radius: 25px 25px 0 0;
	border-width: 50px 50px 0;
	box-shadow: 3px 9px 5px #555;
	display: flex;
	flex-wrap: wrap;
	height: 65vw;
	justify-content: center;
	margin: 10px 10px 0;
	max-height: 750px;
	max-width: 750px;
	min-height: 250px;
	min-width: 250px;
	width: 65vw;
}

#input-slider {
	cursor: pointer;
	box-shadow: 1px 1px 3px #555;
}

#options {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 750px;
	width: 65vw;
}

#title-a {
	color: #0060df;
}
