:root {
	/* Color Palette */
	--accent: #b22;
	--accent-high: #c22;
	--accent-low: #a22;
	--background: #555;
	--primary: #999;
	--secondary: #333;
	--tertiary: #777;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background: var(--background);
	display: flex;
	height: 100vh;
	justify-content: center;
	max-height: 100%;
	max-width: 100%;
	touch-action: manipulation;
	width: 100vw;
}

a {
	color: #ed7;
	text-decoration-color: #c95;
}

a:active {
	background-clip: border-box;
	background-image: none;
	color: #eeb;
	text-decoration-color: #eeb;
	-webkit-text-fill-color: initial;
}

button {
	background-image: linear-gradient(
		135deg,
		var(--accent-high),
		var(--accent-high),
		var(--accent-low),
		var(--accent-low)
	);
	border-radius: 8px;
	box-shadow: inset -1px -1px 4px 0 #333, inset 0 0 2px 0px #555;
	box-sizing: border-box;
	cursor: pointer;
	height: 48px;
	padding-bottom: 4px;
	width: 96px;
}

button:active {
	box-shadow: inset -1px -1px 2px 0 #555;
	border-style: solid;
	filter: none;
}

footer {
	background-clip: text;
	background-image: linear-gradient(
		to bottom right,
		#c95 20%,
		#ed7 40%,
		#eeb 60%,
		#ed7 80%,
		#c95 100%
	);
	color: #ed7;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	-webkit-text-fill-color: transparent;
}

.base {
	align-items: center;
	background: var(--accent);
	display: flex;
	height: 104px;
	justify-content: space-between;
	width: calc(100% - 48px);
}

.canvas {
	align-content: center;
	background: var(--primary);
	border-color: #444 #666 #666 #444;
	border-style: solid;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: calc(100% - 48px);
}

.etch-a-sketch {
	align-items: center;
	background-color: var(--accent);
	border-color: var(--accent-high) var(--accent-low) var(--accent-low)
		var(--accent-high);
	border-radius: 24px;
	border-style: solid;
	border-width: 24px;
	box-shadow: 4px 8px 8px 0 #333;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 640px;
	width: 100%;
}

.knob {
	background-color: white;
	border-color: #ccc #aaa #aaa #ccc;
	border-radius: 100px;
	border-style: dashed;
	box-shadow: inset 0 0 0 2px #ccc, 2px 4px 4px 0 #333;
	box-sizing: border-box;
	height: 80px;
	width: 80px;
}

.label {
	background-clip: text;
	background-image: linear-gradient(135deg, white, white, #dbb, #dbb);
	color: white;
	font-size: 24px;
	font-weight: bold;
	-webkit-text-fill-color: transparent;
}

.slider-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.slider {
	appearance: none;
	background: var(--primary);
	border-color: #444 #666 #666 #444;
	border-style: solid;
	box-sizing: border-box;
	height: 24px;
	outline: 0;
	width: 160px;
	-webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-image: linear-gradient(
		135deg,
		var(--accent-high),
		var(--accent-high),
		var(--accent-low),
		var(--accent-low)
	);
	border-radius: 8px;
	border: 2px outset white;
	box-shadow: inset -1px -1px 2px 0 #333, 2px 2px 2px 0 #333;
	box-sizing: border-box;
	cursor: pointer;
	height: 40px;
	scale: 1.2;
	width: 40px;
}

.slider::-moz-range-thumb {
	background-image: linear-gradient(
		135deg,
		var(--accent-high),
		var(--accent-high),
		var(--accent-low),
		var(--accent-low)
	);
	border-radius: 8px;
	border: 2px outset white;
	box-shadow: inset -1px -1px 2px 0 #333, 2px 2px 2px 0 #333;
	box-sizing: border-box;
	cursor: pointer;
	height: 40px;
	scale: 1.2;
	width: 40px;
}

.options {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 72px;
	justify-content: space-between;
	width: calc(100% - 48px);
}

@media (hover: hover) {
	a:hover {
		color: #eeb;
		text-decoration-color: #eeb;
		-webkit-text-fill-color: initial;
	}

	button:hover:not(:active) {
		filter: brightness(110%);
	}

	.slider::-moz-range-thumb:hover:not(:active) {
		filter: brightness(110%);
	}

	.slider::-webkit-slider-thumb:hover:not(:active) {
		filter: brightness(110%);
	}
}

@media screen and (max-width: 520px) {
	button {
		border-radius: 6px;
		height: 36px;
		padding-bottom: 2px;
		width: 72px;
	}

	.base {
		height: 80px;
		width: calc(100% - 24px);
	}

	.canvas {
		width: calc(100% - 24px);
	}

	.etch-a-sketch {
		border-radius: 12px;
		border-width: 12px;
	}

	.knob {
		height: 56px;
		width: 56px;
	}

	.label {
		font-size: 18px;
	}

	.made-by {
		display: none;
	}

	.options {
		height: 60px;
		width: calc(100% - 24px);
	}

	.slider {
		height: 16px;
		width: 120px;
	}

	.slider::-webkit-slider-thumb {
		border-radius: 6px;
		height: 30px;
		width: 30px;
	}

	.slider::-moz-range-thumb {
		border-radius: 6px;
		height: 30px;
		width: 30px;
	}
}

@media screen and (max-height: 480px) {
	body {
		height: calc(100% - 16px);
		margin-bottom: 16px; /* Prevents weirdness with iOS home bar */
		margin-top: 8px;
		width: 100%;
	}

	.etch-a-sketch {
		border-radius: 12px;
		border-width: 12px;
	}
}
